body{
    height: 100vh;
    box-sizing: border-box;
    background-color:burlywood;
    color: #8B0000;
}
p{
    color: #8B0000;
}
* {
    margin: 2px;
    padding: 18px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    display: flex;
}
.banner_observacao{
    display: flex;
    justify-content: space-between;
    font-size: 23.8px;
}
.banner_titulo{
    font-size: 50px;
    font-family: 'Acme', sans-serif;   
    text-align: center;
}
a{
    background-color:rgb(224, 154, 84);
    width: 239px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    padding: 16px, 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #3b0303;
}
.cinema {
    width: 260px;
    height: 180px;
}
.header_icones {
    display: flex;
    width: 0px;
    height: 50px;
}
.header {
    width: 26px;
    height: 26px;
    margin-top: -25px;
}
.footer_icones {
    display: flex;
    text-align:center;
    font-size: 16px;
}
.localizacao {
    width: 28px;
    height: 28px;
}
p1{
    color: #3b0303;
}
.banner_contatos {
    display: flex;
    justify-content: space-between;
    font-size: 23.8px;
}
.contatos {
    width: 60px;
    height: 60px;
}
.a1 {
    background-color:rgb(224, 154, 84);
    width: 100px;
}
.redes {
    text-align:center;
}
.cc {
    text-align:center;
    color: #3b0303;
}
textarea {
    line-height: 20px;
    padding: 20px;
    height: 40px;
    background-color:rgb(224, 154, 84);
    border: 1px;
    border-radius: 10px;
}
.vc {
    background-color:rgb(224, 154, 84);
    border: 0.5px;
    border-radius: 15px;
}
.vci {
    background-color:rgb(224, 154, 84);
    border: 1.5px solid #3b0303;
    border-radius: 15px;
    padding: 5px;
}
.radio-label {
    display: flex;
    align-items: center;
    padding: 2.5px;
    color: #3b0303;
    background-color:rgb(224, 154, 84);
    border-radius: 15px;
    width: 190px;
}
.img-dicas {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.button-dicas {
    background-color:rgb(224, 154, 84);
    border: none;
    border-radius: 10px;
}
.figurinhas {
    width: 60px;
    height: 70px;
    display: flex;
    padding: 12px;
}
.enfeite {
    float:right;
}
.enfeite2 {
    float:left;
}